@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

:root {
    --couleur-first: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



html,body,main{
    margin: 0;
}

nav {
    position:fixed;
    display: flex;
    background: rgba(156, 156, 250, 0.253);
    border-radius: 12px;
    z-index:9999;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #e9e6e6; */
    background: rgb(233,230,230);
    background: linear-gradient(180deg, rgba(233,230,230,1) 0%, rgba(233,230,230,1) 90%, rgba(255,255,255,1) 100%); 
    padding-bottom:10vh;
    position:relative;
}

footer{
    text-align: center;
    
    font-weight:bold;
}

footer h4{
    font-size:1.5em;
    color:rgb(0, 38, 119);
}

footer p{
    font-size:1.1em;
}
footer a:nth-child(1){
    margin-right:5vw;
}
.reseaux{
    display:flex;
    justify-content:center;
}

[class="fab fa-instagram"],[class="fab fa-facebook"] {

    transform:scale(250%);
    transition: transform 200ms linear; 
}

[class="fab fa-instagram"]:hover{
    transform:scale(350%);
}

h1 {
    padding: 5px;
    width: 100%;
    border-radius: 1em;
    display:inline-block;
    text-align: center;
    font-family: 'Merriweather', serif;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

ul {
    /* height:max-content; */
    padding-inline-end: 40px;
}

#logo {
    position: fixed;
    display: inline-block;
    top:7vh;
    width: 20%;
    max-width: 200px;
    min-width: 150px;
    justify-content: center;
    z-index: auto;
}

li.souselem {
    float: left;
    border-radius: 12px;
    padding: 10px;
    list-style-type: none;
    transition: background-color 0.2s ease-out;
    border: 1px solid rgba(143, 143, 143, 0.432);
}

li.souselem a {
    text-decoration: none;
    color: black;
}

li.souselem:hover {
    background-color: rgba(0, 0, 0, 0.096);
}

li.souselem ul {
    display: none;
}

li.souselem:hover ul {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.sousliste {
    padding: 0;
    background: rgb(108, 108, 177);
}

.sousliste {
    border-radius: 12px;
}



.parallax {
    /* The image used */
    background-image:url("../img/P1030336.JPG");

    /* Set a specific height */
    min-height: 700px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Partie basse*/

.container{
    width:100%;
    padding-left: 1vw;
    display:flex;
    justify-content: center;
    margin-bottom:10vh;

    align-items: flex-end;
}

.volDec{
    /* float:right; */
    /* left:-100px; */
    margin-left:5vw;
}

.journeeDec{
    /* float:left; */
}

.volDec,.journeeDec{
    display:inline-block;
    position:relative;
    /* float:center; */
    transition:transform 0.15s linear;
    width:30vw;
    min-width:300px;

}

.volDec h2{
    top: 11vh;
}

.journeeDec h2{
    top: 13vh;
}

.volDec h2,.journeeDec h2{
    font-size: 1.6em;
    display: block;
    position: relative;
    

    color: white;
    text-align: center;
}

#volDecimg{
    width:30vw;
    min-width:300px;
}

.journeeDec:hover{
    transform:scale(1.2) ;
    z-index:9999;
}

.volDec:hover{
    transform:scale(1.2);
    z-index:9999;
}

#journeeDecimg{
    width:30vw;
    min-width:300px;
}

#boutonAccesMembre{
    text-decoration: none;
    color:white;
    background-color: darkblue;
    padding: 10px;
    border: 1px solid darkblue ;
    border-radius: 3px;
    font-size: 1.4em;
}

@media (max-width:700px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}