@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yrsa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@400&family=Yrsa:wght@500&display=swap');
body{
    background-image:url(../../img/P1030336.JPG);
    background-size: cover;
    display:flex;
    background-position: 25%;
    flex-direction: column;
    align-items: center;
}

#logo{
    position:relative;
    width:30vw;
    z-index: 1;
}

main{
    /* margin-top:20vh; */
    padding-top:10vh;

}

main,footer{
    position:relative;
    display:block;
    width:80vw;
    background: rgba(233,230,230,0.9);
    background: linear-gradient(180deg, rgba(233,230,230,0.9) 0%, rgba(233,230,230,0.95) 90%, rgba(255,255,255,0.99) 100%); 
}

footer{
    background: rgba(255,255,255,0.99)
}

p{
    margin:10px;
    font-family: 'Yrsa', serif;
    font-size: larger;
}

h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:600;
}

#attero{

    float: right;
    position:relative;
    padding-left:1vw;
}

#cabinePlaneur{
    position:relative;
    float:left;
    padding-right: 1vw;
}

.container1{
    padding:2vw;
}

@media (max-width: 768px){
    body {
        background-size: contain;

        background-position: 90% 0%;
    }
    main{
        position:relative;
        width: 100%;
        background-color: #e9e6e6e0;
    }
    #logo{
        top:7vh;
    }
    footer{
        width:100%;
    }
}
